/*Base*/
:root {
  --primary: #4c4c47;
  --secondary: #e96671fa;

  --main-font: "Poppins", sans-serif;
  --second-font: "Merriweather", serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-size: 1.6rem;
  font-family: var(--main-font);
  background: linear-gradient(0deg,rgba(230,176,166,1)   0%, rgb(121, 199, 228) 100%);
  color: var(--primary);
  z-index: -1;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}
h1 {
  font-family: var(--second-font);
  font-size: 5rem;
  font-weight: 400;
  line-height: 1.5;
  color: var(--primary);
  z-index: 1000;
}

h2 {
  color: var(--secondary);
  font-family: var(--second-font);
  font-weight: 600;
  font-size: 3rem;
  margin: 6rem;
  line-height: normal;
  justify-content: center;
  text-align: center;
}

h4, h3 {
  color: var(--secondary);
  font-family: var(--second-font);
  font-weight: 400;
  font-size: 2rem;
  margin: 0;
  padding-bottom: .5rem;
  line-height: normal;
  justify-content: left;
  text-align: left;
}
p, ul {
  font-size: 2rem;
  font-weight: 200;
  /* text-align: left; */
}


/*Utilities*/
.container {
  max-width: 100rem;
  /* margin: 2rem auto; */
  padding: 0 1.5rem;
}

/*Header & Nav*/
.logo-flex{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.logo {
  margin-top: 40px;
  margin-left: 0;
  display: block;
  width: fit-content;
  color: var(--secondary);
  font-family: var(--second-font);
  font-size: 2.5rem;
  font-weight: 600;
  text-align: left;
}

.sm-list{
  width:auto;
  display: flex;
  flex-direction: row;
  margin-right: 0;
  align-items: center;
  justify-content: flex-end;
}


header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
}

.nav-list {
  display: flex;
  flex-direction: row;
  list-style: none;
  margin-top: 40px;
}
.nav-item a{
  color: var(--secondary);
  font-size: 2.5rem;
}


/*Main content*/
.banner{
  width: 100%;
  min-height: 100vh;
  height: 100%;
  background: url(images/backgroung-banner.jpg) ;
  background-size: cover;
  opacity: 0.8;
  margin: 0 auto;
  text-align: left;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  z-index: -1;
}

.banner::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 200px;
  z-index: 1;
  background: linear-gradient(to top,  rgb(145, 193, 211) ,transparent);
}

.profile-banner{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}
.profile-banner-text{
  width: 40%;
  text-align: left;
  font-size:1.7rem;
  float: left;
  padding: 1rem;
}
.profile-banner-image{
  width: 60%;
  float: left;
  padding: 1rem 6rem ;
}
.profile-banner-image img{
  width:50%;
  border-radius: 3%;
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%)
}

/***************** About Me section *****************/


/***************** Project section *****************/
.projects{
    width: 100%;
    min-height: 100vh;
    height: 100%;
    margin: 0 auto;
    text-align: left;
    overflow: hidden;
    display: flex;
    align-items: center;
    z-index: -1;
  }
.projects::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 200px;
  z-index: 1;
  background: linear-gradient(to top,  rgb(145, 193, 211)  ,transparent);
}
.profile-content-wrapper h2 {
  color: var(--secondary);
  font-family: var(--second-font);
  font-weight: 600;
  font-size: 3rem;
  margin: 6rem;
  padding-top: 3rem;
  line-height: normal;
  justify-content: center;
  text-align: center;
}
.project-part {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 98rem;
  padding: 1rem;
  box-shadow: 0.2rem 0.2rem 0.2rem var(--primary);
  display: flex;
  align-items: center;
  border: 1px solid var(--primary);
  border-radius: 0.8rem;
  margin: 0 auto;
}

.project-img {
  min-width: 40rem;
  max-width: 40rem;
  height: 25rem;
  transform: translateX(-6rem);
  position: relative;
}
.project-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  /* border-radius: 0.8rem; */
}
.project-title h3{
  color: #333333;
}
.project-text{
  margin-bottom: 3rem;
  font-size: 1.4rem;
  color: #333333;
}

.project-cta {
  display: inline-block;
  padding: 1.5rem 3rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 1.2rem;
  color: #333333;
  border: 1px solid #333333;
  border-radius: 0.8rem;
  text-decoration: none;
  font-weight: bold;
}
.project-cta:hover {
  /* background-color: #333333; */
  color: var(--primary);
}

/***************** Footer social media icons *****************/
.footer-sm-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  margin: 2rem;
}
.footer-sm-link {
  width: 2.8rem;
  height: 2.8rem;
  color: #333333;
  display: flex;
  margin-right: 1.3rem;
  font-size: 3rem;
}
.footer-sm-link i {
  margin: auto;
}

.footer-sm-link:hover {
  color: #333333;
  text-decoration: none;
}

.creator-part{
  justify-content: center;
  text-align: center;
  letter-spacing: 2px;
  line-height: normal;
  font-size: 1.6rem;
  margin-bottom: 1rem;
  color: var(--primary);
}

.arrow {
  width: 1.8rem;
  position: fixed;
  bottom: 4rem;
  right: 4rem;
  z-index: 999;
  cursor: pointer;
}


/************************** Media  *****************/
@media screen and (max-width: 1068px) {
  .project-part {
    max-width: 80rem;
  }
  .project-img {
    min-width: 30rem;
    max-width: 30rem;
  }
}

@media screen and (max-width: 868px) {
  .project-part {
    max-width: 70rem;
  }
  .project-img {
    opacity: 1;
  }
}

@media screen and (max-width: 768px) {
  .banner{
    padding-top: 50%;
  }
  .banner h1{
    font-size: 3rem;
  }
  .profile-banner{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
  }
  .profile-banner-text{
    width: 100%;
    font-size:1.7rem;
  }
  .profile-banner-image{
    width: 100%;
  }
  .profile-banner-image img{
    width: 40%;
    align-items: center;
    opacity: 1;
  }
  .logo-flex{
    flex-direction: column;
  }
  .sm-list{
    display: none;
  }
  .nav-list {
    margin-top: 0px;
  }
  .banner::before,
  .projects::before {
    visibility: hidden;
  }
  .project-part {
    padding: 2.5rem;
    flex-direction: column;
  }
  .project-img {
    min-width: 100%;
    max-width: 100%;
    transform: translateX(0);
  }
  .project-title h3{
    margin-top: 1rem;
  }
}

