/******************* General */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: Raleway, sans-serif;
  background-color: #eeba98;
}

.container {
  margin: 0 auto;
}
a {
  text-decoration: none;
}

/******************* Navigation */
.nav-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
}

.left-side {
  display: flex;
}

.nav-wrapper > .left-side > div {
  margin-right: 1.3rem;
  font-size: 1.1rem;
  text-transform: uppercase;
}

.nav-link-wrapper {
  height: 1.8rem;
  border-bottom: 1px solid transparent;
  transition: border-bottom 0.5s;
}

.nav-link-wrapper a {
  color: #20b2aa;
  text-decoration: none;
  transition: color 0.5s;
}

.nav-link-wrapper:hover {
  border-bottom: 1px solid black;
}

.nav-link-wrapper a:hover {
  color: black;
}

.active-nav-link {
  border-bottom: 1px solid black;
}

.active-nav-link a {
  color: black !important;
}

.brand img {
  width: 100px;
  border-radius: 50%;
  /* position: relative;
  top: 0; */
}
.brand div {
  justify-content: center;
  text-align: center;
  text-transform: uppercase;
  color: #20b2aa;
  font-weight: 600;
}

/********************* Home page  */
.banner {
  background: url(images/couple.webp) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  opacity: 0.9;
  width: 100%;
  height: 100vh;
  min-height: 100%;
  z-index: -1;
}
.banner::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  z-index: 1;
  background: linear-gradient(to top, #eeba98, transparent);
}

.profile-content-wrapper {
  /* padding: 1rem; */
  width: 80%;
  margin: 0 auto;
  justify-content: center;
  text-align: center;
  color: rgb(34, 31, 31);
  letter-spacing: 2px;
  line-height: 1.6rem;
  font-size: 1.2rem;
  z-index: 1;
}

.profile-content-wrapper h1 {
  color: #20b2aa;
  font-size: 3rem;
  margin: 3rem;
  line-height: normal;
}

/******************** Portfolio Styles */
.content-wrapper {
  margin: 5rem 0;
}
.portfolio-items-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.portfolio-item-wrapper {
  position: relative;
}

.portfolio-img-background {
  height: 350px;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.img-text-wrapper {
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
  padding-left: 100px;
  padding-right: 100px;
}

.img-text-wrapper .subtitle a {
  transition: 0.7s;
  font-size: 2rem;
  font-weight: 600;
  color: transparent;
}

.img-text-wrapper:hover .subtitle a {
  font-size: 2rem;
  font-weight: 600;
  color: #20b2aa;
  text-decoration: none;
}

.img-darken {
  transition: 1s;
  filter: brightness(10%);
}

/***************** Footer social media icons *****************/
.footer-sm-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  margin: 2rem;
}
.footer-sm-link {
  width: 2.8rem;
  height: 2.8rem;
  border: 1px solid #20b2aa;
  border-radius: 2px;
  color: black;
  background-image: linear-gradient(to right, #20b2aa, #b5f1ee);
  display: flex;
  margin-right: 1rem;
  font-size: 1.2rem;
}
.footer-sm-link i {
  margin: auto;
}

.footer-sm-link:hover {
  background-image: linear-gradient(to left, #20b2aa, #b5f1ee);
}

.creator-part {
  justify-content: center;
  text-align: center;
  color: rgb(34, 31, 31);
  letter-spacing: 2px;
  line-height: 1.6rem;
  font-size: 1rem;
  margin-bottom: 1rem;
}
/* Media Styles */

@media screen and (max-width: 992px) {
  .banner {
    width: 100%;
    max-width: 100%;
    min-height: 100vh;
  }
  .portfolio-items-wrapper {
    display: flex;
    flex-direction: column;
    margin: 1.5rem;
  }
  .portfolio-item-wrapper {
    margin: 1.5rem 0;
  }
  .portfolio-img-background {
    min-height: auto;
    max-height: 100%;
    width: 100%;
  }
}

@media screen and (max-width: 650px) {
  .profile-content-wrapper h1 {
    margin: 2rem;
  }
  .portfolio-img-background {
    min-height: auto;
    max-height: 400px;
    width: 100%;
  }
  /* .footer-sm-link {
    color: #eeba98;
    background-image: linear-gradient(to right, #20b2aa, #b5f1ee);
  } */
}

@media screen and (max-width: 560px) {
  .profile-content-wrapper p,
  .creator-part {
    font-size: 0.9rem;
    line-height: 1.6rem;
  }
}
