body {
  font-family: "Poppins", sans-serif;
  color: #28282c;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h2 {
  padding: 20px 0 0 30px;
  text-align: center;
  font-weight: 400;
}

/********  Navbar *******/

.navbar {
  box-shadow: 2px 2px 5px white;
  opacity: 0.9;
  background: #e8e8e8;
}

.navbar-brand {
  font-weight: 400;
  font-size: 20px;
  margin: 5px;
  color: #28282c;
}

.navbar-brand:hover {
  text-decoration: none;
}

.nav-item {
  text-align: center;
  list-style: none;
  font-size: 20px;
  padding: 0 15px;
}

.nav-link {
  text-decoration: none;
}

.shop {
  color: white !important;
  background: #e7305b;
  border-radius: 15px;
}

/********  Main *******/

#main {
  background: linear-gradient(180deg, #e8e8e8 30%, #3797a4 70%);
}
.img1 {
  position: relative;
  margin-top: 10%;
  width: 100%;
  z-index: 0;
}
.img2 {
  position: absolute;
  margin-top: -50px;
  width: 80%;
  z-index: 0;
}

.intro {
  top: 20px;
  padding: 15px 0;
}

.intro-text h1 {
  font-size: 55px;
  color: #e8e8e8;
}

.intro-text p {
  margin: 5px;
  font-size: 25px;
}

.cta {
  padding: 30px 0 0 0;
}
.cta-select {
  background: white;
  border: 2px solid #e7305b;
  color: #e7305b;
  width: 150px;
  height: 50px;
  cursor: pointer;
  font-size: 18px;
  border-radius: 15px;
}
.cta-select:hover {
  background: #e7305b;
  color: white;
}

.cta-add {
  background: #e7305b;
  width: 150px;
  height: 50px;
  cursor: pointer;
  font-size: 18px;
  color: white;
  border: none;
  margin: 15px;
  border-radius: 15px;
  /* outline: none; */
}
.cta-add:focus,
.cta-select:focus {
  outline: none;
}

/********  About *******/

#about {
  background: linear-gradient(180deg, #3797a4 20%, #e8e8e8 80%);
}
#accordion .card {
  padding: 0;
  background: transparent;
}

/******** Blog Page *********/

.section2 {
  background: linear-gradient(180deg, #e8e8e8 30%, #3797a4 70%);
  padding: 120px 30px;
  margin: 0;
}

.blog-card {
  width: 100%;
  margin: 0;
}

.card {
  padding: 4%;
  font-size: 1.3rem;
}

/********  Gallery *******/

.section3 {
  background: linear-gradient(180deg, #3797a4 20%, #e8e8e8 80%);
}

.caro-image {
  width: 1200px;
  height: 600px;
}

/********  Contact *******/

#contact {
  background: linear-gradient(180deg, #e8e8e8 30%, #3797a4 70%);
}

p {
  margin: 5px;
  font-size: 16px;
}
/******* footer ********/

.footer-section {
  background-color: #3797a4;
  text-align: center;
  font-size: 1.3rem;
  padding-bottom: 10px;
}

.social-icon {
  margin: 20px 10px;
  font-size: 1.5rem;
}

.nav-link:hover,
.social-icon:hover {
  transform: translateY(-6px);
  transition: 0.3s;
}

@media (max-width: 768px) {
  .navbar {
    opacity: 1;
  }

  .img1 {
    margin-top: 12%;
  }

  .card {
    margin: 7px 0;
  }

  #blog.section2 {
    padding: 0;
  }

  .blog-card {
    width: 100%;
  }

  .caro-image {
    width: 100%;
    height: auto;
    max-height: 276px;
  }
}
